name: NPM_PUBLISH
permissions:
  id-token: write
on:
  release:
    types: [published]
defaults:
  run:
    shell: bash
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Remove lock file
        run: rm -f ./bun.lock
      - name: Setup file
        run: cp ./README.md ./builder & cp ./LICENSE ./builder
      - name: Install dependencies
        run: bun install
      - name: Build project
        run: bun export
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: '22.x'
          registry-url: https://registry.npmjs.org/
      - name: Publish package
        run: cd ./builder && npm publish --provenance --access=public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
